<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stla.figure.dao.resourceFileMapper">
  <resultMap id="BaseResultMap" type="com.stla.figure.bean.resourceFile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="md5" jdbcType="VARCHAR" property="md5" />
    <result column="lenght" jdbcType="BIGINT" property="lenght" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uuid, url, md5, lenght, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from resource_file
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKeyMd5" parameterType="String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from resource_file
    where md5 = #{0}
  </select>

  <select id="findResourceFileResultByMd5" resultMap="BaseResultMap">
    select * from resource_file where md5 = #{0}
  </select>

  <select id="getList" parameterType="List" resultMap="BaseResultMap">
    select * from `resource_file` where md5 in
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from resource_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.stla.figure.bean.resourceFile">
    insert into resource_file (id, uuid, url, 
      md5, lenght, name)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{md5,jdbcType=VARCHAR}, #{lenght,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stla.figure.bean.resourceFile">
    insert into resource_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="md5 != null">
        md5,
      </if>
      <if test="lenght != null">
        lenght,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null">
        #{md5,jdbcType=VARCHAR},
      </if>
      <if test="lenght != null">
        #{lenght,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stla.figure.bean.resourceFile">
    update resource_file
    <set>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null">
        md5 = #{md5,jdbcType=VARCHAR},
      </if>
      <if test="lenght != null">
        lenght = #{lenght,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stla.figure.bean.resourceFile">
    update resource_file
    set uuid = #{uuid,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      md5 = #{md5,jdbcType=VARCHAR},
      lenght = #{lenght,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>