<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stla.figure.dao.xdAiResourceMapper">
  <resultMap id="BaseResultMap" type="com.stla.figure.bean.xdAiResource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ai_id" jdbcType="INTEGER" property="aiId" />
    <result column="ai_type" jdbcType="INTEGER" property="aiType" />
    <result column="ai_name" jdbcType="VARCHAR" property="aiName" />
    <result column="ai_url" jdbcType="VARCHAR" property="aiUrl" />
    <result column="ai_value" jdbcType="VARCHAR" property="aiValue" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ai_id, ai_type, ai_name, ai_url, ai_value, is_delete, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xd_ai_resource
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="resourceList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xd_ai_resource
    where ai_id = #{aiId,jdbcType=INTEGER} and is_delete = 0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xd_ai_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stla.figure.bean.xdAiResource">
    insert into xd_ai_resource (id, ai_id, ai_type, 
      ai_name, ai_url, ai_value, 
      is_delete, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{aiId,jdbcType=INTEGER}, #{aiType,jdbcType=INTEGER}, 
      #{aiName,jdbcType=VARCHAR}, #{aiUrl,jdbcType=VARCHAR}, #{aiValue,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.stla.figure.bean.xdAiResource">
    insert into xd_ai_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="aiId != null">
        ai_id,
      </if>
      <if test="aiType != null">
        ai_type,
      </if>
      <if test="aiName != null">
        ai_name,
      </if>
      <if test="aiUrl != null">
        ai_url,
      </if>
      <if test="aiValue != null">
        ai_value,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="aiId != null">
        #{aiId,jdbcType=INTEGER},
      </if>
      <if test="aiType != null">
        #{aiType,jdbcType=INTEGER},
      </if>
      <if test="aiName != null">
        #{aiName,jdbcType=VARCHAR},
      </if>
      <if test="aiUrl != null">
        #{aiUrl,jdbcType=VARCHAR},
      </if>
      <if test="aiValue != null">
        #{aiValue,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stla.figure.bean.xdAiResource">
    update xd_ai_resource
    <set>
      <if test="aiId != null">
        ai_id = #{aiId,jdbcType=INTEGER},
      </if>
      <if test="aiType != null">
        ai_type = #{aiType,jdbcType=INTEGER},
      </if>
      <if test="aiName != null">
        ai_name = #{aiName,jdbcType=VARCHAR},
      </if>
      <if test="aiUrl != null">
        ai_url = #{aiUrl,jdbcType=VARCHAR},
      </if>
      <if test="aiValue != null">
        ai_value = #{aiValue,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stla.figure.bean.xdAiResource">
    update xd_ai_resource
    set ai_id = #{aiId,jdbcType=INTEGER},
      ai_type = #{aiType,jdbcType=INTEGER},
      ai_name = #{aiName,jdbcType=VARCHAR},
      ai_url = #{aiUrl,jdbcType=VARCHAR},
      ai_value = #{aiValue,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>