<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stla.figure.dao.xdResourceSettingMapper">
  <resultMap id="BaseResultMap" type="com.stla.figure.bean.xdResourceSetting">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="resource_id" jdbcType="INTEGER" property="resourceId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="file_size" jdbcType="DOUBLE" property="fileSize" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="is_opt" jdbcType="INTEGER" property="isOpt" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, type, name,resource_id, url, file_size, is_delete, is_opt,create_time, update_time
  </sql>

  <select id="settingSum" parameterType="java.lang.Integer" resultType="java.lang.Double">
    SELECT
     ROUND(sum(file_size) / 1024 /1024 /1024,2)
    FROM `xd_resource_setting`
    WHERE
    is_delete = 0
    AND user_id = #{0,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xd_resource_setting
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="settingList" parameterType="com.stla.figure.bean.xdResourceSetting" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xd_resource_setting
    where user_id = #{userId,jdbcType=INTEGER} AND type = #{type,jdbcType=INTEGER} AND is_delete = 0
    <if test="name != null and name != ''">
      AND name like concat('%', #{name}, '%')
    </if>
    union
    select
    <include refid="Base_Column_List" />
    from xd_resource_setting
    where user_id = 0 AND type = #{type,jdbcType=INTEGER} AND is_delete = 0  ORDER BY create_time DESC,user_id
  </select>

  <select id="settingListOpt" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xd_resource_setting
    where user_id = #{userId,jdbcType=INTEGER} AND is_delete = 0 AND is_opt = 1
    union
    select
    <include refid="Base_Column_List" />
    from xd_resource_setting
    where user_id =0 AND is_delete = 0  ORDER BY user_id,create_time DESC
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xd_resource_setting
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stla.figure.bean.xdResourceSetting">
    insert into xd_resource_setting (id, user_id, type,
      name, url, file_size, 
      is_delete, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{fileSize,jdbcType=DOUBLE}, 
      #{isDelete,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.stla.figure.bean.xdResourceSetting">
    insert into xd_resource_setting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="resourceId != null">
        resource_id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="isOpt != null">
        is_opt,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="resourceId != null">
        #{resourceId,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="isOpt != null">
        #{isOpt,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stla.figure.bean.xdResourceSetting">
    update xd_resource_setting
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="resourceId != null">
        resource_id = #{resourceId,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        file_size = #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="isOpt != null">
        is_opt = #{isOpt,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stla.figure.bean.xdResourceSetting">
    update xd_resource_setting
    set user_id = #{userId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=DOUBLE},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>